<!-- Add error message somehow -->

<nav class="navbar navbar-light bg-faded navbar-static-top" id="search-navbar" style="padding: 0; height: 64px; border-bottom: 1px solid #dce0e0;">
  <div class="container-fluid" id="search-navbar-container">
    <a class="navbar-brand" href="{{ path('index') }}" style="line-height: 50px; border-right: 1px solid #dce0e0; padding-right: 1em; padding-top: 7px; padding-bottom: 7px; margin: 0; color: #55595c">FoodShare</a>
    <ul class="nav navbar-nav">
      <form id="search-form" action="{{ path('index') }}">
        <li class="nav-item hidden-md-down" style="height: 63px;">
          <select name="category" id="categories-dropdown" class="custom-select square-border btn-option" style="border-left: 0; border-right: 1px solid #dce0e0;">
            <option disabled selected value>Categories</option>
            <option value="Fresh Food">Fresh Food</option>
            <option value="Bakery">Bakery</option>
            <option value="Food Cupboard">Food Cupboard</option>
            <option value="Frozen Food">Frozen Food</option>
            <option value="Drinks">Drinks</option>
            <option value="Baby">Baby</option>
            <option value="Personal">Personal</option>
            <option value="Pet Care">Pet Care</option>
            <option value="Household">Household</option>
          </select>
        </li>
        <li class="nav-item hidden-md-down" style="height: 63px;">
          <div id="search-navbar-group" class="form-group input-group" style="height: 100%; width: 200px;">
            <span class="input-group-addon panel-input-symbol" style="border-bottom: 0; padding: 1em; padding-right: 0; background-color: #FAFAFA;"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" name="search" id="main-search-input" class="form-control mr-sm-2 square-border" style="width: 200px; height: 100%; border: 0; background-color: #FAFAFA;" placeholder="Search" value="">
          </div>
        </li>
      </form>
    </ul>

    <ul class="nav navbar-nav float-xs-right">
      {% if is_granted('ROLE_USER') %}
      <li class="nav-item" style="height: 63px;">
        <button class="btn btn-link" id="user-popover" style="padding: 0; font-size:1.1rem; height: 100%;"  data-container="body" data-toggle="popover" data-placement="bottom">
          <i class="fa fa-user-circle fa-2x" aria-hidden="true">
            <span class="fa fa-circle"></span>
            <span class="notif-num">3</span>
          </i>
        </button>
        <div id="user-popover-content" class="hidden-xs-up">
          <a class="btn btn-primary" href="{{ path('user') }}">Your Account</a>
          <a class="btn btn-primary" href="{{ path('useritems') }}">Your Items</a>
          <a class="btn btn-primary" href="{{ path('account_logout') }}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item" style="height: 63px;">
        <button id="register-button" class="btn btn-option btn-signup square-border" style="margin-right: -16px;" type="button" data-toggle="modal" data-target="#loginModal" onclick="loginForm(false);">Register</button>
      </li>
      <li class="nav-item" style="height: 63px;">
        <button id="login-button" class="btn btn-option btn-signup square-border" type="button" data-toggle="modal" data-target="#loginModal" onclick="loginForm(true);">Login</button>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- LOGIN MODAL -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content square-border" style="border: 0;">
      <div class="container">
            <div class="container" style="padding: 1rem;">
            <form id="loginForm" action="{{ path('account_login_check') }}" method="post">
              <h3 class="panel-title">Login</h3>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
                <input type="text" name="_username" id="username" tabindex="1" class="form-control panel-input" placeholder="Username" value="">
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
                <input type="password" name="_password" id="password" tabindex="2" class="form-control panel-input" placeholder="Password">
              </div>
              <div class="col-xs-6 form-group">
                <label class="custom-control custom-checkbox" style="margin-top: 0.8rem;">
                  <input type="checkbox" class="custom-control-input" name="_remember_me">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Remember Me</span>
                </label>
              </div>
              <div class="col-xs-6 form-group">
                <button type="submit" value="login" name="login" id="login-submit" tabindex="4" class="form-control btn btn-login hidden-xs-up">Login</button>
              </div>
            </form>
            <form id="registerForm" class="hidden-xs-up" action="{{ path('account_login_check') }}" method="post">
              <h3 class="panel-title">Register</h3>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i></span>
                <input type="text" name="_fullname" id="fullname" tabindex="1" class="form-control panel-input" placeholder="Full Name" value="">
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
                <input type="text" name="_username" id="username" tabindex="2" class="form-control panel-input" placeholder="Username" value="">
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
                <input type="password" name="_password" id="password" tabindex="3" class="form-control panel-input" placeholder="Password">
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
                <input type="confirmpassword" name="_confirmpassword" id="confirmpassword" tabindex="4" class="form-control panel-input" placeholder="Confirm Password">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" value="register" name="register" id="register" tabindex="4" class="form-control btn btn-login hidden-xs-up">Register</button>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <!-- Bottom Buttons -->
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6 tabs">
                  <button class="btn btn-login square-border active" id="login-form-link" style="width: 100%;">Login</button>
                </div>
                <div class="col-xs-6 tabs">
                  <button class="btn btn-login square-border" id="register-form-link" style="width: 100%;">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<script>
// Submit Form
$("#main-search-input").keypress(function (e) {
  if (e.which == 13) {
    $("#search-form").submit();
  }
});
</script>

<script>
// Basically just repositioning the modal to be in the centre - taken off stackoverflow
$(function() {
  function reposition() {
    var modal = $(this), dialog = modal.find('.modal-dialog');
    modal.css('display', 'block');
    // Dividing by two centers the modal exactly, but dividing by three
    // or four works better for larger screens.
    dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
  }
  // Reposition when a modal is shown
  $('.modal').on('show.bs.modal', reposition);
  // Reposition when the window is resized
  $(window).on('resize', function() {
    $('.modal:visible').each(reposition);
  });
});

// For launching panels and switching between register/login
$("#login-form-link").click(function(e) {
  if($("#login-form-link").hasClass("active")) {
    $("#login-submit").click();
  } else {
    $("#registerForm").addClass('hidden-xs-up');
    $("#loginForm").removeClass('hidden-xs-up');
    $("#login-form-link").addClass("active");
    $("#register-form-link").removeClass("active");
  }
});
$("#register-form-link").click(function(e) {
  if($("#register-form-link").hasClass("active")) {
    $("#register").click();
  } else {
    $("#loginForm").addClass('hidden-xs-up');
    $("#registerForm").removeClass('hidden-xs-up');
    $("#register-form-link").addClass("active");
    $("#login-form-link").removeClass("active");
  }
});

function loginForm(state){
    let state2 = $("#login-form-link").hasClass("active");
    if(state !== state2) {
        if (state){
            $("#registerForm").addClass('hidden-xs-up');
            $("#loginForm").removeClass('hidden-xs-up');
            $("#login-form-link").addClass("active");
            $("#register-form-link").removeClass("active");
        } else {
            $("#loginForm").addClass('hidden-xs-up');
            $("#registerForm").removeClass('hidden-xs-up');
            $("#register-form-link").addClass("active");
            $("#login-form-link").removeClass("active");
        }
    }
}

</script>

<script>
// Resizing
$(document).ready(function() {
  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown').outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
  $('#search-navbar-group').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown').outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
});
function resize() {
  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown').outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
  $('#search-navbar-group').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown').outerWidth() - $('#register-button').outerWidth() - $('#login-button').outerWidth() - 150);
}
</script>

<script>
// User Login Popover
$('#user-popover').popover({
  html : true,
  content: function() {
    return $("#user-popover-content").html();
  }
});
</script>
