<div class="d-flex flex-column w-100 p-2">
	<div class="d-flex no-gutters">
		<div class="col-7 mr-2 d-flex flex-column square-border">
			{#<div class="">#}
				<ul class="nav nav-tabs nav-fill w-100">
					<li class="nav-item active">
						<a class="nav-link rounded-0" data-toggle="tab" id="imgtab" href="#imgdisplay"><i class="fa fa-camera mr-1" aria-hidden="true"></i> Picture</a>
					</li>
					<li class="nav-item">
						<a class="nav-link rounded-0" data-toggle="tab" id="maptab" href="#mapdisplay"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i> Map</a>
					</li>
				</ul>
				<div class="tab-content d-flex flex-auto align-items-stretch justify-content-center">
					<!-- IMAGE -->
					<div class="tab-pane active p-lg-4 p-sm-2" id="imgdisplay">
						<img class="img-rounded mx-auto" src="{{ asset(foodData.image,'food') }}" alt="No Image" style="max-width:30vh; max-height:20vh; width:250px; height:250px">
					</div>
					<!-- MAP -->
					<div class="tab-pane w-100" id="mapdisplay">
						<div class="d-flex flex-auto h-100" id="itemMap" style="border: 1px solid #cccccc; margin-top: -1px;"></div>
					</div>
				</div>
			</div>


		<div class="col-5 ml-2">
			<div class="card" style="border: 1px solid #cccccc">
				<div class="card-block">
					<h4 class="card-title">Donator Information</h4>
					<p class="card-text"><strong>Username: </strong>{{ userData.username }}</p>
					<p class="card-text">
						<strong>Rating: </strong><span style="color: gold; font-size:1.5em;">&#8902;&#8902;&#8902;&#8902;&#8902;</span>
					</p>
					<hr>
					<p class="card-text">Make sure to request an item before visiting the messaging page</p>
					<hr>
					<div class="d-flex justify-content-around ">
						<a class="btn btn-primary square" href="{{ path('foodRequest', {'foodid': foodID} )}}">Request</a>
						<a class="btn btn-secondary square" href="{{ path('messenger')}}">Message</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# modal is now responsive so do whatever here. No idea what fixed it#}

	<!-- ITEM INFORMATION -->
	<div class="d-flex flex-column">
		<br>

		<div class="h4">{{ foodData.name }}</div>
		<div class="p">{{ foodData.description }}</div>
		<br>
		<p><strong>Expiry Date: </strong>{{ foodData.expirydate }}</p>
		<p><strong>Amount: </strong>{{ foodData.amount }}</p>
		<p><strong>Weight: </strong>{{ foodData.weight }}g</p>
		<hr class="w-100">
		<p><strong>Location: </strong>
		<p href="#" id="loc-text" data-title="Enter Food Items Location">Geolocation disabled</p>
		<!--<p><strong>Postage: </strong>No cost, I'll get one of my elves to hand deliver it ♥</p>-->
		<p><strong>Category: </strong>{{ foodData.category }}</p>
	</div>

</div>

<script>
	modalLoaded({{ foodData.latit }}, {{ foodData.longit }});

	$("#itemmap").one("maploaded", function () {
		setToUserData(latitude, longitude, geolocateCallback);
	});

	$('#maptab').on('shown.bs.tab', function () {
		google.maps.event.trigger(itemMap, 'resize');
		itemMap.panTo({lat: {{ foodData.latit }}, lng: {{ foodData.longit }}});
	});
</script>

<!--<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxJox1KlfQI8Tzo1I4wAMgSUELoga4DX0&libraries=places&callback=initMapElements">
</script>-->
