{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <script src="{{ asset('quagga.min.js','javascript') }}"></script>
  <script src="{{ asset('moment.js','javascript') }}"></script>
  <script src="{{ asset('bootstrap-datetimepicker.min.js','javascript') }}"></script>
  <link rel="stylesheet" href="{{ asset('bootstrap-datetimepicker.min.css','css') }}">
  <link rel="stylesheet" href="{{ asset('bootstrap-slider.min.css','css') }}">
  <script src="{{ asset('bootstrap-slider.min.js','javascript') }}"></script>
  <script src="{{ asset('jquery.cropit.js','javascript') }}"></script>
  <title>Barcode Scanner</title>
{% endblock %}

{% block content %}
  {{ parent() }}
  <br>

  <div class="container">
	<h2>Add Item</h2>
  </div>

  <br>

  <!-- MAIN FORM SECTION -->
  <div class="container">
	<div class="row">
	  <div class="col-md-6">
		<!-- INPUT A BARCODE -->
		<h5>Scan A Barcode</h5>
		<label class="custom-file">
		  <input id="barcode-input" type="file" accept="image/*" capture="camera" class="custom-file-input form-control-file" aria-describedby="fileHelp">
		  <span class="custom-file-control"></span>
		</label>
		<small id="fileHelp" class="form-text text-muted">Uses camera on mobile device</small>
		<br>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-6">
		<form action="/images/food" onsubmit="return validateForm();" method="post">
		  <!-- NAME INPUT -->
		  <div class="form-group">
			<label for="nameTextInput">Name</label>
			<input name="name" class="form-control mr-sm-2 square-border" type="text" placeholder="Name" id="nameTextInput">
		  </div>

		  <div class="form-group">
			<label for="categorySelect">Category</label>
			<!-- Category INPUT -->
			<select name="category" class="form-control square-border" id="categorySelect">
			  <option>Fresh Food</option>
			  <option>Bakery</option>
			  <option>Food Cupboard</option>
			  <option>Frozen Food</option>
			  <option>Drinks</option>
			  <option>Baby</option>
			  <option>Personal</option>
			  <option>Pet Care</option>
			  <option>Household</option>
			</select>
		  </div>
		  <p id="tempCategory">Puts Category Here Instead At The Moment</p>

		  <!-- EXPIRY INPUT -->
		  <div class="form-group">
			<label for="dateInput">Expiry Date</label>
			<input name="expiredate" class="form-control mr-sm-2 square-border" type="date" id="dateInput">
		  </div>

		  {#todo firefox date picker#}
		  {#<div class="form-group">#}
		  {#<div class='input-group date' id='datepicker'>#}
		  {#<input type='text' class="form-control" id="expiredate" />#}
		  {#<span class="input-group-addon">#}
		  {#<span class="glyphicon glyphicon-calendar"></span>#}
		  {#</span>#}
		  {#<span class="input-group-addon panel-input-symbol" style="border-bottom: 0; padding: 0; padding-right: 0; background-color: #FAFAFA;"><i class="fa fa-calendar" aria-hidden="true"></i></span>#}
		  {#</div>#}
		  {#</div>#}

		  <!-- AMOUNT INPUT -->
		  <div class="form-group">
			<label for="amountNumberInput">Amount</label>
			<input name="amount" class="form-control mr-sm-2 square-border" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' id="amountNumberInput">
		  </div>

		  <!-- WEIGHT INPUT -->
		  <div class="form-group">
			<label for="weightNumberInput">Weight (g)</label>
			<input name="weight" class="form-control mr-sm-2 square-border" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' id="weightNumberInput">
		  </div>

		  <!-- DESCRIPTION INPUT -->
		  <div class="form-group">
			<label for="descriptionTextarea">Description</label>
			<textarea name="description" class="form-control square-border" id="descriptionTextarea" rows="3"></textarea>
		  </div>

		  <!-- HAVE MAP HERE -->
		  <div class="form-group">
			<label for="latitudeNumberInput">Latitude</label>
			<input name="latitude" class="form-control mr-sm-2 square-border" type="number" step="any" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 190;' id="latitudeNumberInput">
		  </div>
		  <div class="form-group">
			<label for="latitudeNumberInput">Longitude</label>
			<input name="longitude" class="form-control mr-sm-2 square-border" type="number" step="any" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 190;' id="longitudeNumberInput">
		  </div>

		  <!-- HIDDEN IMAGE TO UPLOAD -->
		  <input type="hidden" id="imagetoupload" name="image"/>

		  <!-- SUBMIT BUTTON -->
		  <button type="submit" class="btn btn-primary">Add Food</button>
		</form>
	  </div>
	  <div class="col-md-6">
		<h5>Image Uploader</h5>
		<p>Click 'Select Image' or Drag and Drop into pane</p>
		<img id="tempImage" src=""></img>

		<div class="image-editor">
		  <input type="file" accept="image/*" capture="camera" class="cropit-image-input hidden-xs-up">
		  <button class="btn btn-primary select-image-btn">Select Image</button>
		  <div class="cropit-preview">
		  </div>
		  <button class="btn btn-link rotate-ccw"><i class="fa fa-undo" aria-hidden="true"></i></button>
		  <button class="btn btn-link rotate-cw"><i class="fa fa-repeat" aria-hidden="true"></i></button>
		  <i class="fa fa-picture-o fa-sm" aria-hidden="true" style="margin-right: 10px;"></i>
		  <input class="cropit-image-zoom-input" id="ex1" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0" data-slider-tooltip="hide"/>
		  <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="margin-left: 10px;"></i>
		</div>

	  </div>
	</div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>

	  function validateForm() {
		  // First set hidden image to be cropped one
		  var imageData = $('.image-editor').cropit('export');
		  $('.hidden-image-data').val(imageData);

		  var allValid = true;
		  if ($("#nameTextInput").val() == "") {
			  $("label[for='nameTextInput']").css({"color": "red"});
			  allValid = false;
		  } else {
			  $("label[for='nameTextInput']").css({"color": "black"});
		  }

		  // Can't check SELECT

		  if ($("#dateInput").val() == "") {
			  $("label[for='dateInput']").css({"color": "red"});
			  allValid = false;
		  } else {
			  $("label[for='dateInput']").css({"color": "black"});
		  }

		  if ($("#amountNumberInput").val() == "") {
			  $("label[for='amountNumberInput']").css({"color": "red"});
			  allValid = false;
		  } else {
			  $("label[for='amountNumberInput']").css({"color": "black"});
		  }

		  if ($("#weightNumberInput").val() == "") {
			  $("label[for='weightNumberInput']").css({"color": "red"});
			  allValid = false;
		  } else {
			  $("label[for='weightNumberInput']").css({"color": "black"});
		  }

		  if ($("#descriptionTextarea").val() == "") {
			  $("label[for='descriptionTextarea']").css({"color": "red"});
			  allValid = false;
		  } else {
			  $("label[for='descriptionTextarea']").css({"color": "black"});
		  }

		  if (allValid) {
			  $('#imagetoupload').val($('.image-editor').cropit('export'));
		  }

		  return allValid;
	  }
  </script>

  <!-- CORRECT SIZES OF ELEMENTS -->
  <script>
	  $(document).ready(function () {
		  $('#items')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#map')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .width() - $('#main-search-button').width() - $('#user-popover').width() - 150);
		  $('#main-search-input-mobile').width($('#search-navbar-container-mobile').width() - $('#main-search-button-mobile').width() - 68);
	  });
	  resize = function () {
		  $('#items')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#map')
			  .height($(window).height() - $('#search-navbar').height() - $('#categories-navbar').height() - $('#options').height() - 80);
		  $('#main-search-input').width($('#search-navbar-container').width() - $('a.navbar-brand').outerWidth() - $('#categories-dropdown')
				  .width() - $('#main-search-button').width() - $('#user-popover').width() - 150);
		  $('#main-search-input-mobile').width($('#search-navbar-container-mobile').width() - $('#main-search-button-mobile').width() - 68);
	  };
  </script>

  <script>
	  // Slider

  </script>

  <script>
	  $(function () {
		  //    $();
		  $('#ex1').slider({
			  formatter: function (value) {
				  return 'Current value: ' + value;
			  },
		  });
		  //Calender:
		  //    $('#datepicker').datetimepicker();

		  $('.image-editor').cropit();

		  $('.rotate-cw').click(function () {
			  $('.image-editor').cropit('rotateCW');
		  });
		  $('.rotate-ccw').click(function () {
			  $('.image-editor').cropit('rotateCCW');
		  });
		  $('.select-image-btn').click(function () {
			  $('.cropit-image-input').click();
		  });
		  $('.cropit-preview-image-container').click(function () {
			  if ($('.image-editor').cropit('imageSrc') == "") {
				  $('.cropit-image-input').click();
			  }
		  });
	  });
  </script>

  <script src="{{ asset('barcode.js', 'javascript') }}" type="text/javascript"></script>
  <script src="{{ asset('scanner.js', 'javascript') }}" type="text/javascript"></script>
{% endblock %}
