{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <title>Your Items</title>
{% endblock %}

{% block content %}
  {{ parent() }}
  <br>
  {#todo spacer down middle#}
  <div class="container">
	<div class="row">
	  <ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link active" href="#" style="border-radius: 0;" data-toggle="tab" role="tab">Current Items</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#" style="border-radius: 0;" data-toggle="tab" role="tab">Past Items</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#" style="border-radius: 0;" data-toggle="tab" role="tab">Cancelled Items</a>
		</li>
	  </ul>

	  <div class="col-md-4 col-lg-3 hidden-md-down"></div>

	  <form class="form-inline" style="flex: 1 0 auto">
		<div class="input-group w-100">
		  <span class="input-group-addon panel-input-symbol border-bottom-0 p-4" style="background-color: #FAFAFA;"><i class="fa fa-search" aria-hidden="true"></i></span>
		  <input type="text" name="itemsearch" id="user-food-search" class="form-control mb-sm-0 w-100 square-border" style="background-color: #FAFAFA;" placeholder="Search" value="">
		</div>
	  </form>
	</div>
  </div>

  <br>

  <div class="container">
	<div class="row">
	  <div class="card-columns" style="column-gap: 0.4rem;">
		<div class="card" style="">
		  <ul class="list-group list-group-flush">
			<li class="list-group-item p-0" style="background-color: #f6f6f6; border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="d-flex w-100" style="height: 4.2rem;">
				<div class="col-md-4" style="padding: 0.7rem; margin-left: 1rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">POSTED ON</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">21 March 2017</p>
				</div>
				<div class="col-md-4" style="padding: 0.7rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">TRADE LIKELIHOOD</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">80%</p>
				</div>
				<div class="flex-last ml-auto h-100" style="margin-left: -1rem;">
				  <button class="btn btn-option square-border float-right" style="background-color: #E8E9EC; border-left: 1px solid #dce0e0; width: 6rem;">EDIT</button>
				</div>
			  </div>
			</li>
			<li class="list-group-item p-0" style="border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row">
				<div class="col-4">
				  <img class="card-img-top mw-100" src="{{ asset('oranges.jpg','food') }}" alt="Card image cap">
				</div>
				<div class="col-8">
				  <div class="card-block" style="padding: 0.5rem 0.5rem; margin-bottom: -0.5rem;">
					<h5 class="card-title">Oranges</h5>
					<p style="font-size:0.9em; margin-bottom:5px">Some lovely and tasty oranges for all to enjoy ♥</p>
					<table class="table table-sm">
					  <tbody style="font-size: 0.9em">
					  <tr>
						<td scope="row pl-0">Expiry Date:
						</td>
						<td>21/03/2017</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Amount:
						</td>
						<td>5</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Weight:
						</td>
						<td>500g</td>
					  </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			  </div>
			</li>
		  </ul>
		</div>

		<div class="card" style="">
		  <ul class="list-group list-group-flush">
			<li class="list-group-item p-0" style="background-color: #f6f6f6; border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row w-100" style="height: 4.2rem;">
				<div class="col-md-4" style="padding: 0.7rem; margin-left: 1rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">POSTED ON</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">21 March 2017</p>
				</div>
				<div class="col-md-4" style="padding: 0.7rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">TRADE LIKELIHOOD</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">80%</p>
				</div>
				<div class="flex-last ml-auto h-100">
				  <button class="btn btn-option square-border float-right" style="margin-left:6rem; background-color: #E8E9EC; border-left: 1px solid #dce0e0; width: 6rem;">EDIT</button>
				</div>
			  </div>
			</li>
			<li class="list-group-item p-0" style="border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row">
				<div class="col-4">
				  <img class="card-img-top mw-100" src="{{ asset('oranges.jpg','food') }}" alt="Card image cap">
				</div>
				<div class="col-8">
				  <div class="card-block" style="padding: 0.5rem 0.5rem; margin-bottom: -0.5rem;">
					<h5 class="card-title">Oranges</h5>
					<p style="font-size:0.9em; margin-bottom:5px">Some lovely and tasty oranges for all to enjoy ♥</p>
					<table class="table table-sm">
					  <tbody style="font-size: 0.9em">
					  <tr>
						<td scope="row pl-0">Expiry Date:
						</td>
						<td>21/03/2017</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Amount:
						</td>
						<td>5</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Weight:
						</td>
						<td>500g</td>
					  </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			  </div>
			</li>
		  </ul>
		</div>
		<div class="card" style="">
		  <ul class="list-group list-group-flush">
			<li class="list-group-item p-0" style="background-color: #f6f6f6; border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row w-100" style="height: 4.2rem;">
				<div class="col-md-4" style="padding: 0.7rem; margin-left: 1rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">POSTED ON</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">21 March 2017</p>
				</div>
				<div class="col-md-4" style="padding: 0.7rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">TRADE LIKELIHOOD</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">80%</p>
				</div>
				<div class="col-md-4 h-100" style="margin-left: -1rem;">
				  <button class="btn btn-option square-border float-right" style="background-color: #E8E9EC; border-left: 1px solid #dce0e0; width: 6rem;">EDIT</button>
				</div>
			  </div>
			</li>
			<li class="list-group-item p-0" style="border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row">
				<div class="col-4">
				  <img class="card-img-top mw-100" src="{{ asset('oranges.jpg','food') }}" alt="Card image cap">
				</div>
				<div class="col-8">
				  <div class="card-block" style="padding: 0.5rem 0.5rem; margin-bottom: -0.5rem;">
					<h5 class="card-title">Oranges</h5>
					<p style="font-size:0.9em; margin-bottom:5px">Some lovely and tasty oranges for all to enjoy ♥</p>
					<table class="table table-sm">
					  <tbody style="font-size: 0.9em">
					  <tr>
						<td scope="row pl-0">Expiry Date:
						</td>
						<td>21/03/2017</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Amount:
						</td>
						<td>5</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Weight:
						</td>
						<td>500g</td>
					  </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			  </div>
			</li>
		  </ul>
		</div>
		<div class="card" style="">
		  <ul class="list-group list-group-flush">
			<li class="list-group-item p-0" style="background-color: #f6f6f6; border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row w-100" style="height: 4.2rem;">
				<div class="col-md-4" style="padding: 0.7rem; margin-left: 1rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">POSTED ON</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">21 March 2017</p>
				</div>
				<div class="col-md-4" style="padding: 0.7rem;">
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">TRADE LIKELIHOOD</p>
				  <p style="margin-bottom: 0.1rem; font-size: 0.9em;">80%</p>
				</div>
				<div class="col-md-4 h-100" style="margin-left: -1rem;">
				  <button class="btn btn-option square-border float-right" style="background-color: #E8E9EC; border-left: 1px solid #dce0e0; width: 6rem;">EDIT</button>
				</div>
			  </div>
			</li>
			<li class="list-group-item p-0" style="border: 1px solid #e0e0e0; border-radius: 0;">
			  <div class="row">
				<div class="col-4">
				  <img class="card-img-top mw-100" src="{{ asset('oranges.jpg','food') }}" alt="Card image cap">
				</div>
				<div class="col-8">
				  <div class="card-block" style="padding: 0.5rem 0.5rem; margin-bottom: -0.5rem;">
					<h5 class="card-title">Oranges</h5>
					<p style="font-size:0.9em; margin-bottom:5px">Some lovely and tasty oranges for all to enjoy ♥</p>
					<table class="table table-sm">
					  <tbody style="font-size: 0.9em">
					  <tr>
						<td scope="row pl-0">Expiry Date:
						</td>
						<td>21/03/2017</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Amount:
						</td>
						<td>5</td>
					  </tr>
					  <tr>
						<td scope="row pl-0">Weight:
						</td>
						<td>500g</td>
					  </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			  </div>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}


{% block scripts %}
  {{ parent() }}
{% endblock %}
