{% extends 'layout.twig' %}

{% block head %}
	{{ parent() }}
	<title>Account</title>
	<link rel="stylesheet" href="{{ asset('bootstrap-slider.min.css','css') }}">
	<script src="{{ asset('bootstrap-slider.min.js','javascript') }}"></script>
	<script src="{{ asset('quagga.min.js','javascript') }}"></script>
	<script src="{{ asset('moment.js','javascript') }}"></script>
	<script src="{{ asset('jquery.cropit.js','javascript') }}"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block content %}
	{{ parent() }}
	{#todo fix crop zoom + disable until selecting image#}
	<br>

	<div class="container hidden-xs-up">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active rounded-0" href="#">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link rounded-0" href="#">Your Items?</a>
			</li>
		</ul>
	</div>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<!-- USER PROFILE PICTURE -->
				<div class="image-editor d-flex flex-column align-items-center">
					<input type="file" accept="image/*" capture="camera" class="cropit-image-input hidden-xs-up">
					<button class="btn btn-primary select-image-btn">Select Image</button>
					<div class="cropit-preview d-flex">
					</div>
					<div class="row d-flex flex-nowrap align-items-center mw-100">
						<button class="btn btn-link rotate-ccw p-1"><i class="fa fa-undo" aria-hidden="true"></i></button>
						<button class="btn btn-link rotate-cw p-1"><i class="fa fa-repeat" aria-hidden="true"></i></button>
						<i class="fa fa-picture-o fa-sm" aria-hidden="true" style="margin-right: 10px;"></i>
						<input class="cropit-image-zoom-input" id="ex1" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0" data-slider-tooltip="hide" data-slider-handle="custom"/>
						<i class="fa fa-picture-o fa-lg" aria-hidden="true" style="margin-left: 10px;"></i></div>
				</div>

				<br>

				<div class="container" id="mapholder" style="height: 15rem;">
					<div id="map" style="border: 1px solid #cccccc; margin-top: -1px; height:100%"></div>
				</div>
			</div>
			<div class="col-md-8">

				<h3>Wastage Analysis</h3>
				<p id="recommendation"></p>

				<br>

				<div id="piechart" style="width: 900px; height: 500px;"></div>

				<br>

				<h3>Your Information</h3>
				<table class="table">
					<tbody>
						<tr>
							<td scope="row">Full Name:
							</td>
							<td>
								<a href="#" id="newname" data-type="text" data-pk="1" data-url="{{ path('updatename') }}" data-title="Enter Full Name">{{ userData.fullname ?? 'No name set!' }}</a>
							</td>
						</tr>
						<tr>
							<td scope="row">Username:</td>
							<td class="lead h3">{{ userData.username }}</td>
						</tr>
						<tr>
							<td scope="row">Location:
							<td>
								<a href="#" id="loc-input" data-type="button" data-toggle="modal" data-target="#mapModal" data-title="Enter A Location To Search For">Geolocation disabled</a>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>

				<form id="changepass" onsubmit="event.preventDefault(); updatepass(this);" method="post">
					<div id="passfeedback" class="form-control-feedback text-center h4" style="display:none;"></div>

					<h3>Change Password</h3>
					<div class="form-group" id="oldpass">
						<label for="oldPassword">Enter Old Password</label>
						<div class="input-group">
							<span class="input-group-addon square-border"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
							<input type="password" class="form-control square-border" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
						</div>
					</div>
					<div class="form-group" id="newpass">
						<label for="password">Enter New Password</label>
						<div class="input-group">
							<span class="input-group-addon square-border"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
							<input type="password" class="form-control square-border" id="password" name="password" placeholder="New Password" required>
						</div>
					</div>
					<div class="form-group" id="confpass">
						<label for="confirmpassword">Confirm New Password</label>
						<div class="input-group">
							<span class="input-group-addon square-border"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
							<input type="password" class="form-control square-border" id="confirmpassword" name="conf" placeholder="Confirm New Password" required>
						</div>
					</div>
					<input type="submit" value="Change" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>

	<!-- MAP MODAL -->
	{{ block("modalMap", "map.twig") }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ block("main", "map.twig") }}
	{{ block("searchableMap", "map.twig") }}
	{#todo accept button #}
	{#future transition map instead of directly placing #}
	{#future move geolocator to map.twig? #}
	{#note dragging cursor on chrome - DOM mousemove is captured?#}

	<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

				$.getJSON('/user/analysis', function(data) {
					var recommendation = data['recommendation'];
					var categories = data['categories'];
					$('#recommendation').text(recommendation);

					var array = ["Category", "Number Of Items"];
					for (var category in categories) {
						array.push([category, categories[category]]);
					}

					var data = google.visualization.arrayToDataTable(array);

	        var options = {
	          title: 'Wastage Analysis'
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

	        chart.draw(data, options);

				});

      }
    </script>

	<script>
		// ---------------MAP INIT HERE---------------------
		$("#map").one("maploaded", function () {
			initSingleSearchMap(updatePlace);

			initModalMap($('#mapholder'));
			setToUserData({{ userData.lat ?? 'null' }},{{ userData.long ?? 'null'}}, geolocateCallback);
		});

		function updatePlace(place) {
			if (!place.geometry) {
				console.log("Returned place contains no geometry");
				return;
			}
			let loc = {
				lat: place.geometry.location.lat(),
				lng: place.geometry.location.lng()
			};
			geolocateCallback(loc); //Re geo-locates the address
		}
	</script>

	<script>
		$.fn.editableform.buttons = '<button type="submit" class="btn btn-primary editable-submit"><i class="fa fa-fw fa-check"></i></button>' + '<button type="button" class="btn editable-cancel"><i class="fa fa-fw fa-remove"></i></button>';
		$.fn.editable.defaults.mode = 'inline';
		$(document).ready(function () {
			$('#newname').editable({
				success : function (response, newValue) {
					if (response.success === false) {
						if (error in response) {
							return 'Error:' + response.error;
						}
					}
					return 'Error updating name to' + newValue;
				},
				validate: function (value) {
					if (value === null || value === '') {
						return 'Empty values not allowed';
					}
				}
			});
		});

		let updatepass = function (form) {
			if (form.elements['password'].value === form.elements['confirmpassword'].value) {
				let data = $("#changepass").serialize();
				$.ajax({
					url : '{{ path('updatepass') }}',
					type: 'post',
					data: data,
				}).always(updatepassresult);
			} else {
				let theclass = "has-danger";
				$("#passfeedback").addClass(theclass).html('Input passwords don\'t match').slideDown("slow");
				$("#newpass").addClass(theclass);
				$("#confpass").addClass(theclass);
				setTimeout(removepassresult, 5000);
			}
		};

		function updatepassresult(result) {
			if (result.success === true) {
				$("#passfeedback").addClass("has-success").html('Password successfully updated!').slideDown("slow");
			} else if (result.error === 'Incorret password entered') {
				$("#passfeedback").addClass("has-danger").html('Current Password Incorrect').slideDown("slow");
				$("#oldpass").addClass("has-danger");
			} else {
				$("#passfeedback").addClass("has-danger").html('Unknown error occured').slideDown("slow");
			}
			setTimeout(removepassresult, 5000);
		}

		function removepassresult() {
			$("#changepass").find('.has-danger').removeClass("has-danger");
			$("#changepass").find('.has-success').removeClass("has-success");
			$("#passfeedback").slideUp("fast");
		}
	</script>

	<script>
		// Slider
		$('#ex1').slider({
			formatter: function (value) {
				return 'Current value: ' + value;
			},
		});
		$('#ex1Slider').addClass('d-inline-flex');
	</script>

	<script>
		$(function () {
			$('.image-editor').cropit({
				imageState: {
					src: '{{ asset(userData.picture | default('profile_default.jpg'),'users') }}',
				},
				smallImage: 'stretch',
				//			  {#todo#} imageBackground: true,
			});

			$('.rotate-cw').click(function () {
				$('.image-editor').cropit('rotateCW');
			});
			$('.rotate-ccw').click(function () {
				$('.image-editor').cropit('rotateCCW');
			});
			$('.select-image-btn').click(function () {
				$('.cropit-image-input').click();
			});
			{#$('.cropit-preview-image-container').click(function () {#}
				{#if ($('.image-editor').cropit('imageSrc') === '{{asset('profile_default.jpg','users')}}') {#}
					{#$('.cropit-image-input').click();#}
				{#}#}
			{#});#}
			{#$('.export').click(function () {#}
				{#var imageData = $('.image-editor').cropit('export');#}
				{#window.open(imageData);#}
			{#});#}
		});
	</script>
{% endblock %}
