{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <title>Your Items</title>
{% endblock %}

{% block content %}
  {{ parent() }}
  <br>
  {#todo spacer down middle#}
  <div class="container">
	<div class="row">
	  <ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link active" href="#current-columns" style="border-radius: 0;" data-toggle="tab" role="tab">Current Items</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#past-columns" style="border-radius: 0;" data-toggle="tab" role="tab">Past Items</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#cancelled-columns" style="border-radius: 0;" data-toggle="tab" role="tab">Cancelled Items</a>
		</li>
	  </ul>

	  <div class="col-md-4 col-lg-3 hidden-md-down"></div>

	  <form class="form-inline" style="flex: 1 0 auto">
		<div class="input-group w-100">
		  <span class="input-group-addon panel-input-symbol border-bottom-0 p-4" style="background-color: #FAFAFA;"><i class="fa fa-search" aria-hidden="true"></i></span>
		  <input type="text" name="itemsearch" id="user-food-search" class="form-control mb-sm-0 w-100 square-border" style="background-color: #FAFAFA;" placeholder="Search" value="">
		</div>
	  </form>
	</div>
  </div>

  <br>

  <div class="container">
	  <div class="row">
      <div class="tab-content">
        <div class="tab-pane card-columns active" role="tabpanel" style="column-gap: 0.4rem;" id="current-columns"></div>
        <div class="tab-pane card-columns" role="tabpanel" style="column-gap: 0.4rem;" id="past-columns"></div>
        <div class="tab-pane card-columns" role="tabpanel" style="column-gap: 0.4rem;" id="cancelled-columns"></div>
      </div>
	 </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ parent() }}

  <script>
    $(document).ready(function() {
      $.getJSON('/foodItems', function (data) {
        $.each(data, function (index, value) {
          var likelihood;
          $.getJSON('/food/likelihood/' + value['foodid'], function(array) {
						value.likelihood = array.likelihood;
            if(value['active'] == 0) {
							$.post("{{path('getItem')}}", $.param(value), function (html) {
								$("#current-columns").append($.parseHTML(html));
							});
            } else if (value['hidden'] == 0) {
							$.post("{{path('getItem')}}", $.param(value), function (html) {
								$("#past-columns").append($.parseHTML(html));
							});
            } else {
							$.post("{{path('getItem')}}", $.param(value), function (html) {
								$("#cancelled-columns").append($.parseHTML(html));
							});
            }


          });
        });
      });
    });
  </script>
{% endblock %}
