<div class="card" style="border: 1px solid #dce0e0;cursor: pointer" data-latit="{{ foodData.latit }}" data-longit="{{ foodData.longit }}" data-id="{{ foodID }}">
  <div class="d-flex">
	<div class="col-5 align-self-center px-0">
	  <img class="card-img img-rounded mw-100 " src="{{ cloudinary_url_folder(foodData.image, 'food')}}" alt="No Image">
	</div>
	<div class="col-7 px-0">
	  <div class="card-block" style="padding: 0.75rem 0.5rem 0;">
		<h5 class="card-title">{{ foodData.name }}</h5>
		<p style="font-size:1em; margin-bottom:5px">{{ foodData.description }}</p>
		<table class="table table-sm">
		  <tbody style="font-size: 1em">
		  <tr>
			<td scope="row" style="padding-left: 0;">Expiry Date:
			<td>{{ foodData.expirydate }}</td>
		  </tr>
		  <tr>
			<td scope="row" style="padding-left: 0;">Amount:
			<td>{{ foodData.amount }}</td>
		  </tr>
		  <tr>
			<td scope="row" style="padding-left: 0;">Weight:
			<td>{{ foodData.weight }}g</td>
		  </tr>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
