<!-- Add error message somehow -->

{% block content %}
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded p-0 align-items-stretch" id="search-navbar" style="border-bottom: 1px solid #dce0e0;">
	<a class="navbar-brand mr-0 p-3" href="{{ path('index') }}" style="border-right: 1px solid #dce0e0; color: #55595c">FoodShare</a>
	<ul class="navbar-nav flex-last">
	  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<li class="nav-item my-auto">
		  <button class="btn btn-link h-100" id="user-popover" style="font-size:1.1rem;" data-offset="0 35%" data-toggle="popover" data-placement="bottom">
			<i class="fa fa-user-circle fa-2x" aria-hidden="true">
			  <span class="fa fa-circle"></span>
			  <span class="notif-num">3</span>
			</i>
		  </button>
		  <div id="user-popover-content" class="hidden-xs-up">
			<div class="container-fluid my-0 p-3">
			  <div class="row pb-2">
				<div class="col-md-6 pr-2">
				  <a class="btn btn-primary btn-block" href="{{ path('user') }}">Your Account</a>
				</div>
				<div class="col-md-6 pl-2">
				  <a class="btn btn-primary btn-block" href="{{ path('useritems') }}">Your Items</a>
				</div>
			  </div>
			  <div class="row pb-2">
				<div class="col-md-6 pr-2">
				  <a class="btn btn-primary btn-block" href="{{ path('messenger') }}">Messenger</a>
				</div>
				<div class="col-md-6 pl-2">
				  <a class="btn btn-primary btn-block" href="{{ path('account_logout') }}">Logout</a>
				</div>
			  </div>
        <div class="row">
				<div class="col-md-6 pr-2">
				  <a class="btn btn-primary btn-block" href="{{ path('additem') }}">Add Item</a>
				</div>
			  </div>
			</div>
		  </div>
		</li>
	  {% else %}
		<li class="nav-item flex-last">
		  <button id="register-button" class="btn btn-option btn-signup square-border" style="margin-right: -16px;" type="button" data-toggle="modal" data-target="#loginModal" onclick="loginForm(false);">Register</button>
		</li>
		<li class="nav-item flex-last">
		  <button id="login-button" class="btn btn-option btn-signup square-border" type="button" data-toggle="modal" data-target="#loginModal" onclick="loginForm(true);">Login</button>
		</li>
	  {% endif %}
	</ul>

	<form class="form-inline flex-auto" id="search-form" action="">
	  <div class="input-group hidden-md-down h-100">
		<select name="category" id="categories-dropdown" class="custom-select square-border btn-option border-left-0 py-3" style="border-right: 1px solid #dce0e0;">
		  <option disabled selected hidden value="">Categories</option>
		  <option value="Fresh Food">Fresh Food</option>
		  <option value="Bakery">Bakery</option>
		  <option value="Food Cupboard">Food Cupboard</option>
		  <option value="Frozen Food">Frozen Food</option>
		  <option value="Drinks">Drinks</option>
		  <option value="Baby">Baby</option>
		  <option value="Personal">Personal</option>
		  <option value="Pet Care">Pet Care</option>
		</select>
	  </div>

	  <div class="input-group" style="flex: 1 1 auto">
		<span class="input-group-addon panel-input-symbol border-bottom-0 p-4" style="background-color: #FAFAFA;"><i class="fa fa-search" aria-hidden="true"></i></span>
		<input type="text" name="search" id="main-search-input" class="form-control border-0" style="background-color: #FAFAFA;" placeholder="Search" value="">
	  </div>
	</form>

  </nav>

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="loginModal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content square-border" style="border: 0;">
		<div class="container">
		  <div class="container" style="padding: 1rem;">
			<form id="loginForm" action="{{ path('account_userprofile') }}" method="post">
			  <h3 class="panel-title">Login</h3>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
				<input type="text" name="_username" id="username" tabindex="1" class="form-control panel-input" placeholder="Username" value="">
			  </div>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
				<input type="password" name="_password" id="password" tabindex="2" class="form-control panel-input" placeholder="Password">
			  </div>
			  <div class="col-6 form-group">
				<label class="custom-control custom-checkbox" style="margin-top: 0.8rem;">
				  <input type="checkbox" class="custom-control-input" name="_remember_me">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description">Remember Me</span>
				</label>
			  </div>
			  <div class="col-6 form-group">
				<button type="submit" value="login" name="login" id="login-submit" tabindex="4" class="form-control btn btn-login hidden-xs-up">Login</button>
			  </div>
			</form>
			<form id="registerForm" class="hidden-xs-up" action="{{ path('register') }}" method="post" onSubmit="return verify(this);">
			  <h3 class="panel-title">Register</h3>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i></span>
				<input type="text" name="email" tabindex="1" class="form-control panel-input" placeholder="Email" value="">
			  </div>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
				<input type="text" name="username" tabindex="2" class="form-control panel-input" placeholder="Username" value="">
			  </div>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
				<input type="password" name="password" tabindex="3" class="form-control panel-input" placeholder="Password">
			  </div>
			  <div class="form-group input-group">
				<span class="input-group-addon panel-input-symbol"><i class="fa fa-fw fa-lock" aria-hidden="true"></i></span>
				<input type="password" name="confirmpassword" tabindex="4" class="form-control panel-input" placeholder="Confirm Password">
			  </div>
			  <div class="form-group">
				<div class="row">
				  <div class="col-sm-6 col-sm-offset-3">
					<button type="submit" value="register" name="register" id="register-submit" tabindex="4" class="form-control btn btn-login hidden-xs-up">Register</button>
				  </div>
				</div>
			  </div>
			</form>
		  </div>
		  <!-- Bottom Buttons -->
		  <div class="panel-heading">
			<div class="row">
			  <div class="col-6 tabs">
				<button class="btn btn-login square-border active w-100" id="login-form-link">Login</button>
			  </div>
			  <div class="col-6 tabs">
				<button class="btn btn-login square-border w-100" id="register-form-link">Register</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}

{% block scripts %}

  <script>
	  // For launching panels and switching between register/login
	  $("#login-form-link").click(function (e) {
		  if ($("#login-form-link").hasClass("active")) {
			  $("#login-submit").click();
		  } else {
			  $("#registerForm").addClass('hidden-xs-up');
			  $("#loginForm").removeClass('hidden-xs-up');
			  $("#login-form-link").addClass("active");
			  $("#register-form-link").removeClass("active");
		  }
	  });
	  $("#register-form-link").click(function (e) {
		  if ($("#register-form-link").hasClass("active")) {
			  $("#register-submit").click();
		  } else {
			  $("#loginForm").addClass('hidden-xs-up');
			  $("#registerForm").removeClass('hidden-xs-up');
			  $("#register-form-link").addClass("active");
			  $("#login-form-link").removeClass("active");
		  }
	  });

	  //Pre submit verification
	  function verify(form) {
		  if (form.elements['password'].value === form.elements['confirmpassword'].value) { return true; }
		  else {
			  alert('Passwords don\'t match');
			  form.elements['password'].focus();
			  return false;
		  }
	  }

	  function loginForm(state) {
		  let state2 = $("#login-form-link").hasClass("active");
		  if (state !== state2) {
			  if (state) {
				  $("#registerForm").addClass('hidden-xs-up');
				  $("#loginForm").removeClass('hidden-xs-up');
				  $("#login-form-link").addClass("active");
				  $("#register-form-link").removeClass("active");
			  } else {
				  $("#loginForm").addClass('hidden-xs-up');
				  $("#registerForm").removeClass('hidden-xs-up');
				  $("#register-form-link").addClass("active");
				  $("#login-form-link").removeClass("active");
			  }
		  }
	  }

  </script>

  <script>
	  // User Login Popover
	  $('#user-popover').popover({
		  html     : true,
		  container: '#user-popover',
		  content  : function () {
			  return $("#user-popover-content").html();
		  },
	  });
  </script>

{% endblock %}
